
<div class="container">
  <% stations.each do |station| %>
    <div class="row">
      <p> Name : <%= station.name %> <br>
          Brand : <%= station.brand %> <br>
      </p>
    </div>
  <% end %>
</div>
