<li>
  <%= prenom.texte %>
  <%= link_to 'Show', prenom %>
  <%= link_to 'Edit', edit_prenom_path(prenom) %>
  <%= link_to 'Destroy', prenom, method: :delete, data: { confirm: 'Are you sure?' } %>
</li>
